# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
.pytest_cache
.idea
__pycache__

# MacOS:
venv_mac
*.DS_Store
.DS_Store
DS_Store

# project
report
screenshot

# My configurations:
test.ini
