<!--base.html-->
<!--定义顶部代码块-->
{% block top %}
     <hr color="green">
    当期时间：
<!-- 定义一个id为cg -->
<span id="cg">2016-12-20 上午12:00:00</span>
<script>
<!--这个cg就是span的id，初始化Date时间并转化为字符string类型,每1000毫秒，setInterval() 就会调用函数，直到被关闭。-->
setInterval("cg.innerHTML=new Date().toLocaleString()",1000);
</script>

<hr>
{% endblock top %}

<!--定义中间代码块-->
{% block content %}

    主内容区-----
{% endblock content %}

<!--定义底部代码块-->
{% block bottom %}
<br>
<br>
<hr>
    end
    底部

<hr color="green">
{% endblock bottom %}
