<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>回收宝测试工具平台</title>
    <link rel="stylesheet" href="../static_files/frame/layui/css/layui.css">
    <link rel="stylesheet" href="../static_files/frame/static/css/style.css">
    <link rel="icon" href="../static_files/frame/static/image/code.png">
    <style>
    pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
    .string { color: green; }        /*字符串的样式*/
    .number { color: darkorange; }    /*数字的样式*/
    .boolean { color: blue; }        /*布尔型数据的样式*/
    .null { color: magenta; }        /*null值的样式*/
    .key { color: red; }            /*key值的样式*/
    </style>
</head>
<body class="body" bgcolor="#fffafa">


<fieldset id="p2" class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend>荣耀保值换新接口测试(订单侧-服务层)</legend>
</fieldset>
<div class="layui-bg-gray">
    <div class="layui-col-md6" style="margin-bottom: 20px;left: 65px;">
      <div class="layui-panel">
        <div style="padding: 20px 10px;">
             接口序号：<br />
            【1】：/order_center/old4new/buyHonorMaintainValueService<br />
            【2】：/order_center/old4new/placeOrder<br />
            【3】：/order_center/old4new/submitHonorNewMachinOrder<br />
            【4】：/order_center/old4new/getHonorOrderList<br />
            【5】：/order_center/old4new/getHonorMaintainValueService<br />
            【6】：/order_center/old4new/getHonorOrderInfo<br />
            【7】：/order_center/old4new/submitHonorNewMachineInfo<br />
            【8】：/order_center/old4new/submitHonorNewMachinePayInfo<br />
        </div>
      </div>
    </div>
</div>

<!--<form class="layui-form" action="/get_eg" method="post">-->
    <div class="layui-form-item">
        <label class="layui-form-label">序号</label>

        <div class="layui-input-inline">
            <input id="eg_index" type="text" name="eg_index" autocomplete="on" lay-verify="required" class="layui-input" placeholder="输入序号，获取接口示例">
        </div>
        <div class="layui-input-inline">
            <button class="layui-btn"  lay-filter="sub" onclick="getRequestEg();">获取接口示例</button>
        </div>

    </div>

<!--</form>-->


<br />


<!--<form class="layui-form" action="/honor_test" method="post">-->
    <div class="layui-form-item">
        <label class="layui-form-label">*接口地址</label>

        <div class="layui-input-block">
            <input id="interface" type="text" name="interface" autocomplete="on" lay-verify="required" class="layui-input" placeholder="请求地址，如：http://ordserver.huishoubao.com/order_center/old4new/getHonorOrderInfo">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">*业务参数</label>
        <div class="layui-input-block">
            <textarea id="param" name="param" lay-verify="required" class="layui-textarea" rows="15" placeholder="请输入业务参数，json格式"></textarea>
        </div>

    </div>

    <div class="layui-input-block">
        <button class="layui-btn" lay-submit="" lay-filter="sub" onclick="getHonorResult();">提交</button>
    </div>
<!--</form>-->


<div class="layui-form-item layui-form-text">
        <label class="layui-form-label">响应信息：</label>
</div>

    <pre id="result"></pre>




<!--<div class="layui-col-md6">-->
<!--    <div class="layui-card">-->
<!--        <div class="layui-card-header" style="background-color: #51a7e8">-->
<!--            温馨提示：-->
<!--        </div>-->
<!--        <div class="layui-card-body"style="background-color: lightgoldenrodyellow">-->
<!--            欢迎访问回收宝测试工具平台-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<script src="../static_files/frame/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate', 'element'], function () {
        var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate
                , element = layui.element;

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            interface: function (value) {
                if (value.length < 1) {
                    return '标题至少得5个字符啊';
                }
            },
            param: function (value) {
                if (value.length < 1) {
                    return '标题至少得5个字符啊';
                }
            }
        });

        //监听提交
        // form.on('submit(sub)', function (data) {
        //     layer.alert(JSON.stringify(data.field), {
        //         title: document.getElementById("param").innerHTML
        //     });
        //     return false;
        // });

        // you code ...


    });
</script>


<script type="text/javascript">
    // 格式化json方法
    function showGeoJsonTxt(){
	    $('#result').html(JsonFormat());
    }

    function JsonFormat() {
        var json = document.getElementById("result").innerHTML
        if (typeof json != 'string') {
            json = JSON.stringify(json, undefined, 2);
        }
        json = json.replace(/&/g, '&').replace(/</g, '<').replace(/>/g, '>');
        return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g,
            function(match) {
                var cls = 'number';
                if (/^"/.test(match)) {
                    if (/:$/.test(match)) {
                        cls = 'key';
                    } else {
                        cls = 'string';
                    }
                } else if (/true|false/.test(match)) {
                    cls = 'boolean';
                } else if (/null/.test(match)) {
                    cls = 'null';
                }
                return '<span class="' + cls + '">' + match + '</span>';
            }
        );
    }

    // ajax 在当前页面展示响应结果
    function getHonorResult() {
        var xmlhttp;
        if (window.XMLHttpRequest) {
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        }
        else {
            // code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function() {
            if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                document.getElementById("result").innerHTML=xmlhttp.responseText;
            }
            if (xmlhttp.readyState==4 && xmlhttp.status==500) {
                document.getElementById("result").innerHTML="服务器500错误，请联系管理员！！！"
            }
        }
        xmlhttp.open("POST","/honor_test",true);
        xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        var param_honor;
        var url_honor;
        param_honor = document.getElementById("param").value;
        url_honor = document.getElementById("interface").value;
        xmlhttp.send("interface="+url_honor+"&param="+param_honor);
    }

    // ajax 获取请求示例
    getRequestEg = function () {
        var xmlhttp;
        if (window.XMLHttpRequest) {
            // code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        }
        else {
            // code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function() {
            if (xmlhttp.readyState==4 && xmlhttp.status==200) {
                var res = xmlhttp.responseText
                var resJson = JSON.parse(res)
                document.getElementById("param").value=resJson["param"];
                document.getElementById("interface").value=resJson["url"];
            }
        }
        xmlhttp.open("POST","/get_eg",true);
        xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        var index = document.getElementById("eg_index");
        xmlhttp.send("eg_index="+index.value);
    }

</script>

</body>
</html>