<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>自动化测试主页</title>
</head>
<body>
<h2>{{name}},欢迎使用自动化测试平台</h2>
<h3>一、入库处理</h3>
<h4>请输入已检测的商品条码，多个条码用英文逗号隔开</h4>
<form action="" method="POST">

<label>商品条码：
    <textarea type="text" name="bar_code" rows="10" cols="60"> </textarea>
    <!-- 
    <input type="text" name="bar_code" >
    -->
</label>
    <button type="submit" >确 定</button>
</form>
{% for message in get_flashed_messages() %}
        <h3>{{ message }}</h3>
    {% endfor %}
<form>
    <label>使用说明：<br>
        1. 每个条码必须输入18位，否则无法通过；<br>
        2. 每个条码完成入库操作需要三分钟左右，无论最后是否入库成功，都会在网页上显示执行结果；<br>
        3. 进行入库处理时会根据商品条码搜索，若查不到对应的来源单号，则不会继续执行入库操作。<br>
        <!-- 
        <textarea rows="10" cols="60"> {{res_text}}</textarea>
        -->
    </label>
</form>
<br><br>
<h3>二、出库处理</h3>
<form>
    <label>
        <textarea type="text" name="bar_code" rows="10" cols="60">
        </textarea>

    </label>
    <button>确 定</button>
</form>

</body>
</html>