<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>回收宝APP接口测试</title>
    <link rel="stylesheet" href="../static_files/frame/layui/css/layui.css">
    <link rel="stylesheet" href="../static_files/frame/static/css/style.css">
    <link rel="icon" href="../static_files/frame/static/image/code.png">
</head>
<body class="body">

<fieldset id="p2" class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend>回收宝APP接口测试</legend>
</fieldset>

<form action="" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">接口地址</label>

        <div class="layui-input-block">
            <input type="number" name="number" autocomplete="off" class="layui-input" placeholder="无需输入域名，如：">
        </div>
    </div>

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">业务参数</label>
        <div class="layui-input-block">
            <textarea name="bar_code" class="layui-textarea" placeholder="请输入业务参数，只输入param部分例如："></textarea>
        </div>

    </div>

    <div class="layui-input-block">
        <button class="layui-btn">提交</button>
    </div>
</form>


<div class="layui-collapse" lay-filter="test">
    <div class="layui-colla-item">
        <h3 class="layui-colla-title">
            查看更多接口》》》
            <i class="layui-icon layui-colla-icon"></i>
        </h3>
        <div class="layui-colla-content">
            <p>fdhlakhfk afkdfadfkakfbdalfkdasbfka</p>
        </div>
    </div>
</div>

<blockquote class="layui-elem-quote layui-quote-nm">引用自</blockquote>

<hr class="layui-border-orange">

<blockquote class="layui-elem-quote">引用自</blockquote>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px">
    <legend>分割线</legend>
</fieldset>

<hr class="layui-border-orange">

<hr class="layui-border-cyan">

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px">
    <legend>普通图片上传</legend>
</fieldset>

<div class="layui-upload">
  <button type="button" class="layui-btn" id="test1">上传图片</button><input class="layui-upload-file" type="file" accept="" name="file">
  <div class="layui-upload-list">
    <img class="layui-upload-img" id="demo1" style="width: 300px;height: 200px;">
    <p id="demoText"></p>
  </div>
  <div style="width: 95px;">
    <div class="layui-progress layui-progress-big" lay-showpercent="yes" lay-filter="demo">
      <div class="layui-progress-bar" lay-percent=""><span class="layui-progress-text"></span></div>
    </div>
  </div>
</div>


<script src="../static_files/frame/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate', 'element'], function () {
        var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate
                , element = layui.element;

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [/(.+){6,12}$/, '密码必须6到12位']
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

        //监听提交
        form.on('submit(sub)', function (data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            });
            return false;
        });

        // you code ...
    });

layui.use(['upload', 'element', 'layer'], function() {
    var $ = layui.jquery
        , upload = layui.upload
        , element = layui.element
        , layer = layui.layer;
    //常规使用 - 普通图片上传
    var uploadInst = upload.render({
        elem: '#test1'
        , url: 'https://httpbin.org/post' //改成您自己的上传接口
        , before: function (obj) {
            //预读本地文件示例，不支持ie8
            obj.preview(function (index, file, result) {
                $('#demo1').attr('src', result); //图片链接（base64）
            });

            element.progress('demo', '0%'); //进度条复位
            layer.msg('上传中', {icon: 16, time: 0});
        }
        , done: function (res) {
            //如果上传失败
            if (res.code > 0) {
                return layer.msg('上传失败');
            }
            //上传成功的一些操作
            //……
            $('#demoText').html(''); //置空上传失败的状态
        }
        , error: function () {
            //演示失败状态，并实现重传
            var demoText = $('#demoText');
            demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
            demoText.find('.demo-reload').on('click', function () {
                uploadInst.upload();
            });
        }
        //进度条
        , progress: function (n, elem, e) {
            element.progress('demo', n + '%'); //可配合 layui 进度条元素使用
            if (n == 100) {
                layer.msg('上传完毕', {icon: 1});
            }
        }
    });
});

</script>

</body>
</html>