<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>小工具集合</title>
    <link rel="stylesheet" href="../static_files/frame/layui/css/layui.css">
    <link rel="stylesheet" href="../static_files/frame/static/css/style.css">
    <link rel="icon" href="../static_files/frame/static/image/code.png">
</head>
<body class="body">

<fieldset id="p2" class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend>Json格式化输出</legend>
</fieldset>

<form action="" method="post">

    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">原始字符</label>
        <div class="layui-input-block">
            <textarea name="bar_code" class="layui-textarea" placeholder="请输入原始字符串"></textarea>
        </div>

    </div>

    <div class="layui-input-block">
        <button class="layui-btn">提交</button>
    </div>
</form>

<fieldset id="tool-box" class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend>IMEI生成</legend>
</fieldset>

<form class="layui-form layui-form-pane" action="">
    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label">数量</label>

            <div class="layui-input-inline">
                <input type="number" name="number" autocomplete="off" class="layui-input" placeholder="默认为1">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <button class="layui-btn">确定</button>
    </div>
</form>

<fieldset id="IdCard" class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend>身份证号生成</legend>
</fieldset>

<form class="layui-form layui-form-pane" action="">
    <div class="layui-form-item">

        <div class="layui-inline">
            <label class="layui-form-label">生成数量</label>

            <div class="layui-input-inline">
                <input type="number" name="number" autocomplete="off" class="layui-input" placeholder="默认为1">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <button class="layui-btn">确定</button>
    </div>
</form>


<script src="../static_files/frame/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate', 'element'], function () {
        var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate
                , element = layui.element;

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            }
            , pass: [/(.+){6,12}$/, '密码必须6到12位']
            , content: function (value) {
                layedit.sync(editIndex);
            }
        });

        //监听提交
        form.on('submit(sub)', function (data) {
            layer.alert(JSON.stringify(data.field), {
                title: '最终的提交信息'
            });
            return false;
        });

        // you code ...


    });
</script>

</body>
</html>